# Files

gnome-initial-setup-done
GNOME-xdg-terminals.list
xdg-terminals.list
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported

# Folders

i3
gh
mpv
ibus
abrt
dconf
geany
procps
goa-1.0
gtk-3.0
nautilus
turborepo
nextjs-nodejs
gnome-session
create-next-app-nodejs
libreoffice

# nvim stuff
tags
test.sh
.luarc.json

spell/
lazy-lock.json

